[user]
	name =
	email =

[i18n]
	commitEncoding = UTF-8
	logOutputEncoding = UTF-8
[core]
	eol = native
	filemode = false
	editor = vim
	autocrlf = false
	safecrlf = warn
	whitespace = trailing-space,space-before-tab
	pager = less -FRX
[color]
	ui = true
