[user]
	name =
	email =

[i18n]
	commitEncoding = UTF-8
	logOutputEncoding = UTF-8
[core]
	eol = native
	filemode = false
	editor = vim
	autocrlf = false
	safecrlf = warn
	whitespace = trailing-space,space-before-tab
	pager = less -FRX
[color]
	ui = true
[diff]
	tool = p4merge
[difftool "p4merge"]
	path = <path to p4merge>
	cmd = p4merge $LOCAL $REMOTE
[difftool]
	prompt = false
